.forget-psw-container{
position: relative;
top: 0px;
left: 38%;
width: 360px;
height: 750px;
background: transparent linear-gradient(180deg, #000000 0%, #000E09 100%) 0% 0% no-repeat padding-box;
mix-blend-mode: normal;
border-radius: 28px;
opacity: 1;
color: white;
display: flex;
justify-content: center;
align-items: center;
}
.forget-email{
    font-size: 16px;
    width: 238px;
    height: 42px;
    background: #1F191966 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 3px #FFFDFD40, 3px 3px 3px #4A494947;
    mix-blend-mode: normal;
    opacity: 1;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: #FFFFFF8C;
}
.forget-heading{
    position: absolute;
    top: 260px;
    color: #36A546CC;
    font: normal normal normal 30px/21px Mulish;
    letter-spacing: 0.02px;
}
.reset-btn{
position: absolute;
width: 238px;
height: 42px;
background: transparent linear-gradient(180deg, #00FF2580 0%, #000000 100%, #36A54680 100%) 0% 0% no-repeat padding-box;
mix-blend-mode: normal;
border: 2px solid #8CFF0026;
border-radius: 30px;
color: #FFFFFF8C;
font: normal normal bold 16px/21px Mulish;
letter-spacing: 0.02px;
opacity: 1;
cursor: pointer;
}